<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
<div>
  <label>
    Find Password
  </label>
</div>
<form th:object="${findPasswordDto}" th:action="@{/findPassword}" method="post">
  <div>
    <label> UserName: <input class="form-control" th:field="*{username}"/> </label>
    <p th:if="${#fields.hasErrors('username')}" class="label label-danger" th:errors="*{username}">username err</p>
  </div>
  <div>
    <label> Email: <input class="form-control" th:field="*{email}"/> </label>
    <p th:if="${#fields.hasErrors('email')}" class="label label-danger" th:errors="*{email}">email err</p>
  </div>
  <br/>
  <div><input type="submit" class="btn btn-default" value="find"/></div>
</form>
</body>
</html>

<!DOCTYPE html>

