<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

  <body>
    <h2>Owner Information</h2>

    <table class="table table-striped" th:object="${owner}">
      <tr>
        <th>Name</th>
        <td th:text="*{firstName + ' ' + lastName}"></td>
      </tr>
      <tr>
        <th>Address</th>
        <td th:text="*{address}"></td>
      </tr>
      <tr>
        <th>City</th>
        <td th:text="*{city}"></td>
      </tr>
      <tr>
        <th>Telephone</th>
        <td th:text="*{telephone}"></td>
      </tr>
    </table>

    <a th:href="@{{id}/edit(id=${owner.id})}" class="btn btn-default">Edit
      Owner</a>
    <a th:href="@{{id}/pets/new(id=${owner.id})}" class="btn btn-default">Add
      New Pet</a>

    <form th:action="@{{id}/delete(id=${owner.id})}" method="POST">
      <button class="btn btn-default" type="submit" style="float: right;">
        Delete Owner</button>
    </form>

    <br />
    <br />
    <br />
    <h2>Pets and Visits</h2>
  
    <table class="table table-striped">
  
      <tr th:each="pet : ${owner.pets}">
        <td valign="top">
          <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd th:text="${pet.name}"></dd>
            <dt>Birth Date</dt>
            <dd
              th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}"></dd>
            <dt>Type</dt>
            <dd th:text="${pet.type}"></dd>

            <dd><a th:href="@{{ownerId}/pets/{petId}/edit(ownerId=${owner.id},petId=${pet.id})}" class="btn btn-default">Edit Pet</a>
            <a th:href="@{{ownerId}/pets/{petId}/visits/new(ownerId=${owner.id},petId=${pet.id})}" class="btn btn-default">Add Visit</a>
            </dd>
          </dl>
        </td>
        <td valign="top">
          <table class="table-condensed">
            <thead>
              <tr>
                <th>Visit Date</th>
                <th>Description</th>
                <th>Treatment</th>
              </tr>
            </thead>
            <tr th:each="visit : ${pet.visits}">
              <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
              <td th:text="${visit?.description}"></td>
              <td>
                <a th:href="@{/owners/{ownerId}/visits/{visitId}(ownerId=${owner.id},visitId=${visit.id})}" th:text="${visit.isTreated()} ? 'untreated' : 'treated'" method="get"/></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
  
    </table>
  
  </body>
</html>
