spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: youremail@gmail.com
    password: yourpassword
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
